@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--blue: #3d405b;
	--red: #e07a5f;
	--background: #f4f1de;
	--black: #1a1a1a;
	--white: #f8f8f8;
}

body {
	color: var(--black);
	background: var(--background);
	font-family: "Roboto", sans-serif;
	font-size: 1.125rem; /* 18px */
}

.content-container {
	max-width: 1560px;
	margin: 0 auto;
}

p {
	font-family: 1.125rem; /* 18px */
	font-family: "Roboto", sans-serif;
}

h1 {
	font-size: 3rem; /* 48px */
	font-family: "Fraunces", sans-serif;
}

h2 {
	font-size: 2.3rem; /* 36px */
	font-family: "Fraunces", sans-serif;
}

h3 {
	font-size: 1.9rem; /* 30px */
	font-family: "Fraunces", sans-serif;
}

h4 {
	font-size: 1.5rem; /* 24px */
	font-family: "Fraunces", sans-serif;
}

button {
	font-size: 1.75rem; /* 28px */
	padding: 10px 20px;
	border-radius: 20px;
}

label {
	font-size: 16px;
	font-family: "Roboto", sans-serif;
}

/* nprogress loading styles */
/* NProgress customization */
#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: var(--red);
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
}

#nprogress .spinner {
	display: none;
}

#nprogress .peg {
	display: none;
}
